html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
#filter-box {
    width: 100%;
    border-style: none;
}
#floating-panel {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    width: 100px;
    font-size: 13px;
}
#info-window {
    max-width: 150px;
}
.list-group {
    width: 100%;
}
.list-group-item {
    padding-left: 5px;
}
.list-group-item:hover {
    background-color: #999;
}

@media only screen and (max-width: 600px) {
    #info-window {
        max-width: 150px;
    }
    #floating-panel {
        width: 100px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 2000px) {
    #info-window {
        max-width: 300px;
    }
    #floating-panel {
        width: 25%;
    }
}

@media only screen and (min-width: 2001px) {
    #info-window {
        max-width: 300px;
    }
    #floating-panel {
        width: 500px;
    }
}